<div class="card mt-5">
  <h5 class="card-header">Unified Chat Room</h5>
  <div class="card-body">
    <div #messageContainer class="overflow-auto message-container">
      <div class="mb-3" *ngFor="let message of this.messageService.messages">
        <app-message-card
          [message]="message"
          [userId]="profileService.profile.sub"
          (deleteEvent)="onDelete($event)"
        ></app-message-card>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="input-group mt-3">
      <input
        type="text"
        class="form-control"
        name="content"
        required
        [(ngModel)]="messageInput"
        placeholder="Send Message"
        maxlength="255"
        autocomplete="off"
      />
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
